In [61]:
apikey= "g7JUi82Wy2dhHdacAOeN-L0aSfVISnVMi2qQHNiycwIM"

In [62]:
url= "https://api.jp-tok.tone-analyzer.watson.cloud.ibm.com/instances/ddd2c991-3eae-4f9a-a1df-1178d916848e"

In [63]:
from ibm_watson import ToneAnalyzerV3
from ibm_cloud_sdk_core.authenticators import IAMAuthenticator
from ibm_watson import ApiException
import json
import os
import pandas as pd
from langdetect import detect
import random
import re
import time
from sklearn.model_selection import train_test_split
import ast

In [71]:
df = pd.read_csv('covidTweets.csv')

In [72]:
from DataPreprocessing.RemovePuctuations import *
df['text'] = remove_punc_apply(df['text'])
df = df.drop(['Unnamed: 0.1','Unnamed: 0','Unnamed: 14','Unnamed: 15','medias','has_media','user_id','url','ID'], axis=1)

In [73]:
df.head()

,usernameTweet,text,nbr_retweet,nbr_favorite,nbr_reply,datetime,is_reply,is_retweet
0,rj_ashwin,Sabse Pehle toh Majdur Labour Class Worker...,0,1,0,2020-03-28 23:24:57,False,False
1,vikramsoni232,TajinderBagga Bhaiya i proud of you You a...,0,0,0,2020-03-29 12:52:33,False,False
2,ABHISHE33329022,Mam India mein hum ko companys ki audit krni...,0,0,0,2020-03-29 21:20:30,True,False
3,hindust74474485,Videsh me rahne wale Bhai India laye Gaye bu...,0,0,0,2020-04-23 09:29:44,False,False
4,KumarSa61420257,Akhir bhojh ban gaye na bihari pure India pe...,0,0,0,2020-04-27 08:15:01,False,False

In [74]:
data_strip_none = df[df['text'].notnull()]
data_strip_none = data_strip_none.set_index(pd.Index(range(0,len(data_strip_none))))
print(data_strip_none.shape)
data_strip_none.head()

(74553, 8)

,usernameTweet,text,nbr_retweet,nbr_favorite,nbr_reply,datetime,is_reply,is_retweet
0,rj_ashwin,Sabse Pehle toh Majdur Labour Class Worker...,0,1,0,2020-03-28 23:24:57,False,False
1,vikramsoni232,TajinderBagga Bhaiya i proud of you You a...,0,0,0,2020-03-29 12:52:33,False,False
2,ABHISHE33329022,Mam India mein hum ko companys ki audit krni...,0,0,0,2020-03-29 21:20:30,True,False
3,hindust74474485,Videsh me rahne wale Bhai India laye Gaye bu...,0,0,0,2020-04-23 09:29:44,False,False
4,KumarSa61420257,Akhir bhojh ban gaye na bihari pure India pe...,0,0,0,2020-04-27 08:15:01,False,False

In [76]:
random.seed(9001)

data_api, data_test = train_test_split(data_strip_none, train_size=0.75, random_state=0)

# Reset index
data_api = data_api.set_index(pd.Index(range(0,len(data_api))))
data_test = data_test.set_index(pd.Index(range(0,len(data_test))))

# Save the dataset
data_api.to_csv('data_api.csv',index=False)
data_test.to_csv('data_test.csv',index=False)

In [77]:
data_api = pd.read_csv('data_api.csv')

In [78]:
data_api.shape

(55914, 8)

In [79]:
data_api1 = data_api[0:1000]

In [80]:
authenticator = IAMAuthenticator(apikey)
tone_analyzer = ToneAnalyzerV3(
    version='2017-09-21',
    authenticator=authenticator
)

tone_analyzer.set_service_url(url)
tone_analyzer.set_disable_ssl_verification(False)

In [ ]:
tones = []
index = 0
for item in data_api1['text']:
    try:
        index = index + 1
        text = item
        tone_analysis = tone_analyzer.tone({'text': text}, content_type='application/json').get_result()
        tones.append(tone_analysis)
    except ApiException as ex:
        tones.append(None)
        print ("Method failed with status code " + str(ex.code) + ": " + ex.message)

In [44]:
tones_copy = tones.copy()
tones = pd.DataFrame(tones)
tones.head()

                                       document_tone
0  {'tones': [{'score': 0.603374, 'tone_id': 'sad...
1  {'tones': [{'score': 0.520483, 'tone_id': 'ang...
2                                      {'tones': []}
3  {'tones': [{'score': 0.532616, 'tone_id': 'ana...
4  {'tones': [{'score': 0.77245, 'tone_id': 'sadn...

In [59]:
data_api1 = data_api1.reset_index()
data_api1 = data_api1.drop(['index'], axis=1)
data_api_complete = pd.concat([data_api1,tones],axis=1)

data_api1.to_csv('data_api1.csv',index=False)
dftest = pd.read_csv('data_api1.csv')

In [58]:
# # converting to datetime object and dropping unnecessary values

# from datetime import datetime 

# # for i in range(0,1000):
# #     datetime_str = data_api1.datetime[i]
# #     data_api1.datetime[i] = datetime.strptime(datetime_str, '%Y-%m-%d %H:%M:%S')
    
# count=[]
# for i in range(0, data_api1.shape[0]):
#     try:
#         datetime_str = data_api1.datetime[i]
#         data_api1.datetime[i] = datetime.strptime(datetime_str, '%m/%d/%Y %H:%M')
#     except [ValueError,TypeError]:
#         count.append(i)
# #print(count)
# data_api1.drop(count, inplace=True)

TypeError: catching classes that do not inherit from BaseException is not allowed

In [60]:
dftest.head()

,usernameTweet,text,nbr_retweet,nbr_favorite,nbr_reply,datetime,is_reply,is_retweet
0,lywyre,You have a job to do as PM Please let states g...,1,1,0,2020-06-14 14:55:48,True,False
1,barryslee,There was nothing wrong with the question or t...,0,0,0,2020-05-05 23:00:59,True,False
2,CFirpion,I see alright What’s your situation with th...,0,0,2,2020-05-23 16:48:42,True,False
3,CAPRAVEENMUNDRA,We request for order of extension of due dat...,0,1,0,3/23/2020 8:20,TRUE,False
4,prasant66202950,sabyaactor Dear brother Due to covid19 v...,0,0,0,2020-06-14 11:43:33,False,False

In [ ]:
dftest['document_tones'] = dftest.document_tone.apply(lambda x: ast.literal_eval(x)['tones'])
dftest.drop('document_tone',axis = 1,inplace = True)